.CP-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .CP-btns{
        display: flex;
        justify-content: space-around;
    }

    .CP-btns button{
        margin: 0.5rem;
    }
    .CP-picker{
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .CP-addcolor{
        width: 100%;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .CP-colorinput{
        width: 100%;
        height: 70px;
    }
}