@use './BreakPoints';

// @media (max-width: #{map-get(BreakPoints.$breakpoints, lg)}){
//     width: 20%;
//     height: 25%;
    
// }
// @media (max-width: #{map-get(BreakPoints.$breakpoints, sm)}){
//     width: 50%;
//     height: 10%;
    
// }
// @media (max-width: #{map-get(BreakPoints.$breakpoints, xs)}){
//     width: 100%;
//     height: 5%;
    
// }


.palette-list{
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;

    .pl-container{
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        @media (max-width: #{map-get(BreakPoints.$breakpoints, xl)}){
            width: 80%;
            
        }
        @media (max-width: #{map-get(BreakPoints.$breakpoints, xs)}){
            width: 70%;
            
        }
        
        .pl-nav{
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: white;
            align-items: center;

            a{
                color: white;
            }
        }
        .pl-palettes{
            box-sizing: border-box;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-gap: 1rem;
            @media (max-width: #{map-get(BreakPoints.$breakpoints, md)}){
                grid-template-columns: repeat(2,50%);
            }
            @media (max-width: #{map-get(BreakPoints.$breakpoints, xs)}){
                grid-template-columns: repeat(1, 100%);
            }
            
        }
    }
}


